process {
    withName: '.*:ALIGN_STAR:STAR_ALIGN' {
        ext.args = [
            '--runRNGseed 0',
            '--quantTranscriptomeBan Singleend',
            '--quantMode TranscriptomeSAM',
            '--twopassMode None',
            '--alignEndsType Local',
            '--outSAMtype BAM Unsorted',
            '--readFilesCommand zcat',
            '--outFilterMismatchNmax 999',
            '--outFilterMismatchNoverReadLmax 0.05',
            '--outFilterMultimapNmax 20',
            '--outFilterType BySJout',
            '--alignSJDBoverhangMin 1',
            '--alignSJoverhangMin 8',
            '--alignMatesGapMax 1000000',
            '--alignIntronMin 20',
            '--alignIntronMax 1000000',
            '--outSAMstrandField intronMotif',
            '--outSAMattributes NH HI AS NM MD',
            '--outReadsUnmapped Fastx',
        ].join(' ').trim()
    }

    withName: '.*:PREMAP_STAR:STAR_ALIGN' {
        ext.args = [
            '--runRNGseed 0',
            '--twopassMode None',
            '--alignEndsType Local',
            '--outSAMtype BAM Unsorted',
            '--readFilesCommand zcat',
            '--outFilterMismatchNmax 999',
            '--outFilterMismatchNoverReadLmax 0.05',
            '--outFilterMultimapNmax 50',
            '--outFilterType BySJout',
            '--alignSJDBoverhangMin 1',
            '--alignSJoverhangMin 8',
            '--alignMatesGapMax 1000000',
            '--alignIntronMin 20',
            '--alignIntronMax 1000000',
            '--outSAMstrandField intronMotif',
            '--outSAMattributes NH HI AS NM MD',
            '--outSAMprimaryFlag AllBestScore',
            '--outReadsUnmapped Fastx',
        ].join(' ').trim()
    }

    maxRetries = 3
    errorStrategy = 'retry'
}



profiles {
    slurm {
        // SLURM options
        process.executor = "slurm"
        process.queue = "general_long"
        process.cache = "lenient"
        // Enable singularity
        singularity.enabled    = true
        singularity.autoMounts = true
        // Disable other options
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }

    latency {
        executor {
            pollInterval = '1 min'
            dumpInterval = '1 min'
            queueStatInterval = '2 min'
            submitRateLimit = '1/1sec'
        }
    }
}

git {
    ignoreChanges = true
}